*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 30px;
}
h1{
    background-color:red;
    text-align: center;
    color: white;
    padding: 5px;
}

@media screen and (max-width:767px){
    header{
        width: 100%;    
    }
    header> th{
        font-size: 20px;
        color: red;
    }
    .container{
        max-width: 90%;
        display: block;
    }
    html{
        overflow-x: hidden;
    }
}
